@using GBCSports.ViewModels
@model RegistrationGetCustomerViewModel
@{
    ViewData["Title"] = "Register Page";
}
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div>
	<h2>Register</h2>
    <form method="post" asp-action="RedirectToProductRegistration" asp-controller="Registration">
       <select class="form-select select-customer" asp-for="@Model.CustomerId">
           @for (var i = 0; i < @Model.CustomerList.Count; i++)
           {
               <option value="@Model.CustomerIdList[i]">@Model.CustomerList[i]</option>
           
           }
           @*<input value="@Model.CustomerIdList[i]" hidden></input>
               <input value="@Model.CustomerList[i]" hidden></input>*@
       
       </select>
        <br/>
        @foreach (var item in @Model.CustomerIdList)
        {
        
        }

        <button class="btn btn-primary" type="submit" id="register-button">Enter</button>
        <button class="btn btn-danger" type="submit" id="Cancel" asp-action="Index" asp-controller="Home">Cancel</button>
    </form>
</div>




