@using GBCSports.ViewModels
@using Microsoft.AspNetCore.Http
@model RegistrationGetCustomerViewModel
<br/>
<br/>

<br/>

<br/>

<br/>


<div class="container">
	<div class="pt-3">
		<h2>Customer: @TempData["customerName"]</h2>
        <br/>
        <h2>Registered Products</h2>
	</div>
    <form asp-controller="Registration" asp-action="RegisterProductToCustomer" method="post">
	    <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-center">Product</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.RegisteredProductList)
                {
                    <tr>
                        <td class="text-center">@product.Name</td>

                        <td class="text-center">
                            <a class="btn btn-danger m-1" asp-controller="Registration" asp-action="GetDeleteView" asp-route-productId="@product.Id">Delete</a>
                        
                        </td>
                    
                    </tr>
                }
            </tbody>
        
        </table>

        <div class="pt-3">
		    <h2>Products</h2>
        
	    </div>
        <select class="form-select" asp-for="@Model.RegisteredProductId" asp-items="@(new SelectList(Model.ProductList, "Id", "Name"))"></select>
        <input type="hidden" asp-for="@Model.CustomerId" value="@Context.Session.GetInt32("id")"></input>
        <br/>

        <button class="btn btn-primary" type="submit">Register</button>
        <button class="btn btn-danger" asp-controller="Registration" asp-action="List">Cancel</button>
    </form>
</div>