@model Customer
<br/>
<br/>
<br/>
<br/>

<div class="container">
    <div>
        <h2>Add Customer</h2>
    </div>
	
    <div>
        <form method="post" asp-controller="Customer" asp-action="Add">
          <div class="mb-3">
            <label asp-for="@Model.FirstName" class="form-label">First Name <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.FirstName"></span>
            <input asp-for="@Model.FirstName" type="text" class="form-control" style="@TempData["1"]">
          </div>
          <div class="mb-3">
            <label asp-for="@Model.LastName" class="form-label">Last Name <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.LastName"></span>
            <input asp-for="@Model.LastName" type="text" class="form-control" style="@TempData["2"]">
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Address">Address <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Address"></span>
            <input asp-for="@Model.Address"type="text" class="form-control" style="@TempData["3"]">
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.City">City <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.City"></span>
            <input asp-for="@Model.City" type="text" class="form-control" style="@TempData["4"]">
          </div>

          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.State">State <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.State"></span>
            <input asp-for="@Model.State"type="text" class="form-control" style="@TempData["5"]">
    
          </div>

          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.PostalCode">Postal Code <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.PostalCode"></span>
            <input asp-for="@Model.PostalCode" type="text" class="form-control" style="@TempData["6"]">
    
          </div>

          <div class="mb-3">
              <label class="form-check-label" asp-for="@Model.Country">Country <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
              <span class="text-danger" asp-validation-for="@Model.Country"></span>
              <select class="form-select" asp-for="@Model.Country" style="@TempData["7"]">
                  <option value="">Please select a country</option>
                  @foreach (var country in @ViewBag.CountryList)
                  {
                      <option value="@country">@country</option>
                  }

              </select>
    
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Email"></label>
            <span class="text-danger" asp-validation-for="@Model.Email"></span>
            <input asp-for="@Model.Email"type="email" class="form-control" style="@TempData["8"]">
    
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Phone"></label>
            <span class="text-danger" asp-validation-for="@Model.Phone"></span>
            <input asp-for="@Model.Phone" type="text" class="form-control" style="@TempData["9"]">
    
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" asp-controller="Customer" asp-action="List">
              Cancel
          </a>
        </form>
    </div>
        
</div>
