@model CustomerViewModel
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="container">
    <div>
        <h2>Add Customer</h2>
    </div>
	
    <div>
        <form method="post" asp-controller="Customer" asp-action="Add">
          <div class="mb-3">
            <label asp-for="@Model.Customer.FirstName" class="form-label">First Name <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.FirstName"></span>
            <input asp-for="@Model.Customer.FirstName" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label asp-for="@Model.Customer.LastName" class="form-label">Last Name <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.LastName"></span>
            <input asp-for="@Model.Customer.LastName" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.Address">Address <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.Address"></span>
            <input asp-for="@Model.Customer.Address"type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.City">City <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.City"></span>
            <input asp-for="@Model.Customer.City" type="text" class="form-control">
          </div>

          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.State">State <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.State"></span>
            <input asp-for="@Model.Customer.State"type="text" class="form-control">
    
          </div>

          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.PostalCode">Postal Code <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
            <span class="text-danger" asp-validation-for="@Model.Customer.PostalCode"></span>
            <input asp-for="@Model.Customer.PostalCode" type="text" class="form-control">
    
          </div>

          <div class="mb-3">
              <label class="form-check-label" asp-for="@Model.Customer.Country">Country <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
              <span class="text-danger" asp-validation-for="@Model.Customer.Country"></span>
              <select class="form-select" asp-for="@Model.Customer.Country" asp-items="@(new SelectList(Model.CountryList))">
                  <option value="">Please select a country</option>
                  @*@foreach (var country in @ViewBag.CountryList)
                  {
                      <option value="@country.Name">@country.Name</option>
                  }*@

              </select>
    
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.Email"></label>
            <input asp-for="@Model.Customer.Email"type="text" class="form-control">
    
          </div>
          <div class="mb-3">
            <label class="form-check-label" asp-for="@Model.Customer.Phone"></label>
            <input asp-for="@Model.Customer.Phone"type="text" class="form-control">
    
          </div>
          <button type="submit" class="btn btn-primary">Submit</button>
          <a class="btn btn-danger" asp-controller="Customer" asp-action="List">
              Cancel
          </a>
        </form>
    </div>
        
</div>
