@{
    ViewData["Title"] = "Index";
}
@model IEnumerable<Technicians>;

    <div class="container">
        <h2>Technician Manager</h2>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <th scope="col" class="text-center" colspan="2">Action</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @foreach(var technician in Model)
            {
                <tr>
                    <td class="text-center">@technician.FirstName @technician.LastName</td>
                    <td class="text-center">@technician.Email</td>
                    <td class="text-center">@technician.Phone</td>

                    <td>
                        <a asp-controller="Technicians" asp-action="Edit" asp-route-id="@technician.Id" class="btn btn-warning p-2 px-3">Edit</a>
                        <a asp-controller="Technicians" asp-action="Delete" asp-route-id="@technician.Id" class="btn btn-danger p-2">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Technician" asp-action="Add" class="btn btn-primary p-2">Add</a>