@model Incident
@{
	ViewData["Title"] = "Add Incident";
	
}
<div class="container">
	<div>
		<h2>Add Incident</h2>
	</div>

	<div>
		<form asp-controller="Incident" asp-action="Add" method="post">
		  <div class="mb-3">
			<label asp-for="CustomerName" class="form-label">Customer <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="CustomerName" class='text-danger'></span>
			<select class="form-select" asp-for="CustomerName">
				@foreach (var customer in ViewBag.Customers)
				{
					<option value="@customer.FirstName @customer.LastName">@customer.FirstName @customer.LastName</option>
				}
				
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="Product" class="form-label">Product <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="Product" class='text-danger'></span>
			<select class="form-select" asp-for="Product">
				@foreach (var product in ViewBag.Products)
				{
					<option value="@product.Name">@product.Name</option>
				}
				
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="Title" class="form-label">Title <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="Title" class='text-danger'></span>
			<input type="text" class="form-control" asp-for="Title">
		  </div>

		  <div class="mb-3">
			<label asp-for="Description" class="form-label">Description <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="Description" class='text-danger'></span>
			<input type="text" class="form-control" asp-for="Description">
		  </div>


		  <div class="mb-3">
			<label asp-for="Technician"></label>
			<select class="form-select" asp-for="Technician">
				@foreach (var technician in ViewBag.Technicians)
				{
					<option value="@technician.FirstName @technician.LastName">@technician.FirstName @technician.LastName</option>
				}
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="DateOpened" class="form-label">Date Opened <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="datetime-local" class="form-control" placeholder="MM/DD/YYYY" asp-for="DateOpened">
		  </div>

		  <div class="mb-3">
			<label asp-for="DateClosed" class="form-label">Date Closed</label>
			<input type="datetime-local" class="form-control" asp-for="DateClosed">
		  </div>
		  
			  <button type="submit" class="btn btn-primary">Add Incident</button>
		  
			  <a asp-controller="Incident" asp-action="List" class="btn btn-danger">Cancel</a>
		  
		  </form>
	</div>
</div>
