@model IncidentViewModel
@{
	ViewData["Title"] = "Add Incident";
	
}
<br />
<br />
<br />
<br />
<br />

<div class="container">
	<div>
		<h2>Add Incident</h2>
	</div>
	<div>@TempData["m"]</div>
	<div>
		<form asp-controller="Incident" asp-action="Add" method="post">
		  <div class="mb-3">
			<label asp-for="@Model.CustomerName" class="form-label">Customer <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="@Model.CustomerName" class='text-danger'></span>
			<select class="form-select" style="@TempData["1"]" asp-for="@Model.CustomerName" asp-items="@(new SelectList(Model.CustomerList))">
				<option value="">Select a customer</option>
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="@Model.Product" class="form-label">Product <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="@Model.Product" class='text-danger'></span>
			<select class="form-select" style="@TempData["2"]" asp-for="@Model.Product" asp-items="@(new SelectList(Model.ProductList))">
				
				<option value="">Please select a product</option>
				
				
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="@Model.Title" class="form-label">Title <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="@Model.Title" class='text-danger'></span>
			<input type="text" class="form-control" style="@TempData["3"]" asp-for="@Model.Title">
		  </div>

		  <div class="mb-3">
			<label asp-for="@Model.Description" class="form-label">Description <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<span asp-validation-for="@Model.Description" class='text-danger'></span>
			<input type="text" class="form-control" style="@TempData["4"]" asp-for="@Model.Description">
		  </div>


		  <div class="mb-3">
			<label asp-for="@Model.Technician"></label>
			<select class="form-select" asp-for="@Model.Technician" asp-items = "@(new SelectList(Model.TechnicianList))">
				
				<option value="">Please select a technician</option>
				
			</select>
		  </div>

		  <div class="mb-3">
			<label asp-for="@Model.DateOpened" class="form-label" style="@TempData["5"]">Date Opened <span class="text-danger d-inline fs-3 align-middle"> &#42;</span></label>
			<input type="datetime-local" class="form-control" placeholder="MM/DD/YYYY" asp-for="@Model.DateOpened">
		  </div>

		  <div class="mb-3">
			<label asp-for="@Model.DateClosed" class="form-label">Date Closed</label>
			<input type="datetime-local" class="form-control" asp-for="@Model.DateClosed">
		  </div>
		  @for (var i = 0; i < Model.CustomerList.Count; i++)
		  {
			  <input asp-for="@Model.CustomerList" value="@Model.CustomerList[i]" hidden/>
		  }


		  @for (var i = 0; i < Model.ProductList.Count; i++)
		  {
			  <input asp-for="@Model.ProductList" value="@Model.ProductList[i]" hidden/>
		  }
		  
		  @for (var i = 0; i < Model.TechnicianList.Count; i++)
		  {
			  <input asp-for="@Model.TechnicianList" value="@Model.TechnicianList[i]" hidden/>
		  }
		  @*<input asp-for="@Model.IncientList" value="@Model.IncientList.ToList()" hidden/>
		  <input asp-for="@Model.ProductList" value="@Model.ProductList.ToList()" hidden/>
		  <input asp-for="@Model.TechnicianList" value="@Model.TechnicianList.ToList()" hidden/>*@

			  <button type="submit" class="btn btn-primary">Add Incident</button>
		  
			  <a asp-controller="Incident" asp-action="List" class="btn btn-danger">Cancel</a>
		  
		  </form>
	</div>
</div>
