@model IncidentManagerViewModel
<br/>
<br/>
<br/>
<br/>
<br/>
@{
    ViewData["Title"] = "Incident Manager";
}
    <div class="container">
	<div>
		<h2>Incident Manager</h2>
	</div>
    <div class="@TempData["style"]" style="@TempData["height"]" >@TempData["incidentName"] @TempData["action"]</div>
    <div class="filter-bar">
        <ul class="nav nav-tabs">
          <li class="nav-item d-flex">
              <a class="nav-link @TempData["all"]" asp-route-Filter="all" asp-controller="Incident" >All Incidents</a>
              <a class="nav-link @TempData["unassigned"]" asp-route-Filter="unassigned" asp-controller="Incident">Unassigned Incidents</a>
              <a class="nav-link @TempData["open"]" asp-route-Filter="open" asp-controller="Incident">Open Incidents</a>
          </li>
        </ul>
    </div>
    
	<table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col" class='text-center'>Customer</th>
            <th scope="col" class='text-center'>Product</th>
            <th scope="col" class='text-center'>Date Opened</th>
            <th scope="col" class='text-center' colspan=2>Action</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var incident in @Model.IncidentList)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td class='text-center'>@incident.CustomerName</td>
                    <td class='text-center'>@incident.Product</td>
                    <td class='text-center'>@incident.DateOpened</td>

                    <td class="d-flex justify-content-end">
                        <a asp-controller="Incident" asp-action="Edit" asp-route-id = "@incident.Id" class="btn btn-warning m-1">Edit</a>
                        <a asp-controller="Incident" asp-action="Delete" asp-route-id = "@incident.Id" class="btn btn-danger m-1">Delete</a>
                    </td>
                </tr>
            }
            
            
        
        </tbody>
    </table>
    
    <a asp-controller="Incident" asp-action="Add" class="btn btn-primary p-2">Add</a>
                    
</div>
