@model IEnumerable<Incident>;
<br/>
<br/>
<br/>
<br/>
<br/>
    <div class="container">
	<div>
		<h2>Incident Manager</h2>
	</div>

	<table class="table">
        <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col" class='text-center'>Customer</th>
            <th scope="col" class='text-center'>Product</th>
            <th scope="col" class='text-center'>Date Opened</th>
            <th scope="col" class='text-center' colspan=2>Action</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
            @foreach (var incident in Model)
            {
                <tr>
                    <td>@incident.Title</td>
                    <td class='text-center'>@incident.CustomerName</td>
                    <td class='text-center'>@incident.Product</td>
                    <td class='text-center'>@incident.DateOpened</td>

                    <td class="d-flex justify-content-end">
                        <a asp-controller="Incident" asp-action="Edit" asp-route-id = "@incident.Id" class="btn btn-warning m-1">Edit</a>
                        <a asp-controller="Incident" asp-action="Delete" asp-route-id = "@incident.Id" class="btn btn-danger m-1">Delete</a>
                    </td>
                </tr>
            }
        
        </tbody>
    </table>
    
    <a asp-controller="Incident" asp-action="Add" class="btn btn-primary p-2">Add</a>
                    
</div>
