@model IEnumerable<Technician>;
@{
    ViewData["Title"] = "Index";
}
<div class="container">
    <h2>Technician Manager</h2>

    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col" class="text-center">Name</th>
                <th scope="col" class="text-center">Email</th>
                <th scope="col" class="text-center">Phone</th>
                <th scope="col" class="text-center" colspan="2">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model)
            {
                <tr>
                    <td class="text-center">@obj.FirstName @obj.LastName</td>
                    <td class="text-center">@obj.Email</td>
                    <td class="text-center">@obj.Phone</td>

                    <td class="text-center">
                        <a asp-controller="Technician" asp-action="Edit" asp-route-id="@obj.Id" class="btn btn-warning m-1">Edit</a>
                        <a asp-controller="Technician" asp-action="Delete" asp-route-id="@obj.Id" class="btn btn-danger m-1">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <a asp-controller="Technician" asp-action="Add" class="btn btn-primary p-2">Add</a>
</div>